.firmware-component {
    .card {
        margin-bottom: 25px;
        margin-top: 25px;
        background-color: #eee !important;
    }

    .card Button {
        width: 100%;
    }

    .svg-inline--fa {
        margin-right: 10px;
    }
}
