.footer {
    background-color: rgb(var(--bs-light-rgb));
    border-top: 1px solid var(--bs-border-color-translucent);
    padding: 0 0 16px 10px;
    font-size: 16px;
    width: 100%;
    position: fixed;
    bottom: 0;

    ul {
        list-style: none;
        display: flex;
        align-items: center;
        margin: 0;
        padding: 0;
    }

    li {
        margin-left: 10px;
        margin-right: 10px;
    }

    a {
        color: gray;
        text-decoration: none;
        display: inline-flex;
        align-items: center;
        gap: 6px;
    }

    a:hover {
        text-decoration: underline;
    }
}
